<!-- <div class="container" style="margin-top: 100px;">
    <h1>Ingredients</h1>
 
    <table class="table table-striped">
     <thead>
     <tr>
       <th scope="col">Name</th>
       <th scope="col">Unit quantity</th>
       <th scope="col">Measure unit</th>
       <th scope="col">Unit price</th>
     </tr>
     </thead>
     <tbody>
     <tr *ngFor="let recipe of recipes" >
       <td>{{recipe.name}}</td>
       <td>cost</td>
       <td>{{recipe.description}}</td>

     </tr>
     </tbody>
   </table>
   <button type="button" (click)="loadMore()" [disabled]="!isLodaMore">Load more</button>
  </div>
 
 -->
